table_add ue_selector gtp_encapsulate 10.0.2.23/32 0x0&&&0x0 => 112 10.0.1.10 1
table_add ue_selector gtp_encapsulate 10.0.2.24/32 0x0&&&0x0 => 113 10.0.1.10 1
table_add ue_selector gtp_decapsulate 10.0.0.1/32 2152&&&0xffff => 1
table_add ue_selector gtp_decapsulate 192.168.40.178/32 2152&&&0xffff => 1
table_add teid_rate_limiter apply_meter 112 => 1
table_add teid_rate_limiter apply_meter 113 => 2
table_add teid_rate_limiter apply_meter 1 => 3
table_add ipv4_lpm set_nhgrp 10.0.1.10/24 => 1 
table_add ipv4_forward pkt_send 1 => 00:11:22:33:44:55 2
meter_set_rates teid_meters 1 10000:0 11000:1
meter_set_rates teid_meters 2 20000:0 21000:1
